In [1]:
import numpy as np
import pandas as pd
import math
from sklearn.metrics import accuracy_score

In [2]:
XTrain = pd.read_csv('train.data', names = ["documentId", "wordId", "wordOccurrence"], sep = ' ')

In [3]:
XTest = pd.read_csv('test.data', names = ["documentId", "wordId", "wordOccurrence"], sep = ' ')
m = XTest.wordId.max()
Testgrouped = XTest.groupby(['documentId','wordId']).wordOccurrence.sum()
TestArray = Testgrouped.unstack(level=-1).fillna(0)
TestArray = TestArray.reindex(columns=range(1,m), fill_value=0)
TArray = TestArray.to_numpy()
print(TArray.shape)

(7505, 61187)

In [4]:
XTrainGrouped = XTrain.groupby(['documentId','wordId']).wordOccurrence.sum()
TrainArray = XTrainGrouped.unstack(level=-1).fillna(0)
TrainArray = TrainArray.reindex(columns=range(1,m), fill_value=0)
TrainArray.shape
XTrainArray = TrainArray.to_numpy()
print(XTrainArray.shape)

(11269, 61187)

In [5]:
Ylabel = pd.read_csv('train.label', names = ['Category'])

In [6]:
Ylabel

       Category
0             1
1             1
2             1
3             1
4             1
...         ...
11264        20
11265        20
11266        20
11267        20
11268        20

[11269 rows x 1 columns]

In [7]:
numOFDoc = Ylabel.shape[0]

In [8]:
YTrain = Ylabel[Ylabel['Category'] < 21]

In [9]:
YTrain['documentId'] = list(range(1, numOFDoc+1))

In [10]:
YTrain

       Category  documentId
0             1           1
1             1           2
2             1           3
3             1           4
4             1           5
...         ...         ...
11264        20       11265
11265        20       11266
11266        20       11267
11267        20       11268
11268        20       11269

[11269 rows x 2 columns]

In [11]:
Ylabel

       Category
0             1
1             1
2             1
3             1
4             1
...         ...
11264        20
11265        20
11266        20
11267        20
11268        20

[11269 rows x 1 columns]

In [12]:
documentinCategory = YTrain.Category.value_counts(sort = False)

In [13]:
documentinCategory

1     480
2     581
3     572
4     587
5     575
6     592
7     582
8     592
9     596
10    594
11    598
12    594
13    591
14    594
15    593
16    599
17    545
18    564
19    464
20    376
Name: Category, dtype: int64

In [14]:
ProbabilityOfCategory = documentinCategory/numOFDoc

In [15]:
ProbabilityOfCategory

1     0.042595
2     0.051557
3     0.050759
4     0.052090
5     0.051025
6     0.052533
7     0.051646
8     0.052533
9     0.052888
10    0.052711
11    0.053066
12    0.052711
13    0.052445
14    0.052711
15    0.052622
16    0.053155
17    0.048363
18    0.050049
19    0.041175
20    0.033366
Name: Category, dtype: float64

In [16]:
LogPrCk = np.log(ProbabilityOfCategory)

In [17]:
LogPrCk

1    -3.156025
2    -2.965060
3    -2.980672
4    -2.954786
5    -2.975441
6    -2.946304
7    -2.963340
8    -2.946304
9    -2.939570
10   -2.942932
11   -2.936220
12   -2.942932
13   -2.947995
14   -2.942932
15   -2.944616
16   -2.934549
17   -3.029025
18   -2.994757
19   -3.189926
20   -3.400222
Name: Category, dtype: float64

In [18]:
LogPrCkArray = LogPrCk.to_numpy()

In [19]:
LogPrCkArray = LogPrCkArray.reshape(1,LogPrCkArray.shape[0])

In [20]:
LogPrCkArray.shape

(1, 20)

In [21]:
DFasWhole = pd.merge(XTrain, YTrain, on='documentId')

In [22]:
DFasWhole

         documentId  wordId  wordOccurrence  Category
0                 1       1               4         1
1                 1       2               2         1
2                 1       3              10         1
3                 1       4               4         1
4                 1       5               2         1
...             ...     ...             ...       ...
1467340       11269   47387               1        20
1467341       11269   48339               1        20
1467342       11269   48919               1        20
1467343       11269   51544               1        20
1467344       11269   53958               1        20

[1467345 rows x 4 columns]

In [23]:
DFgrouped = DFasWhole.groupby(['Category','wordId']).wordOccurrence.sum()

In [24]:
DfAsArray = DFgrouped.unstack(level=1).fillna(0)

In [25]:
DfAsArray = DfAsArray.reindex(columns=range(1,m), fill_value=0)

In [26]:
LapsmoothDF = DfAsArray+1

In [27]:
LapsmoothDF

wordId,1,2,3,4,5,6,7,8,9,10,...,61178,61179,61180,61181,61182,61183,61184,61185,61186,61187
Category,,,,,,,,,,,,,,,,,,,,,
1,14.0,64.0,276.0,10.0,83.0,42.0,7.0,2.0,35.0,141.0,...,1,1,1,1,1,1,1,1,1,1
2,61.0,60.0,1.0,18.0,15.0,59.0,11.0,7.0,173.0,4.0,...,1,1,1,1,1,1,1,1,1,1
3,12.0,70.0,1.0,18.0,22.0,35.0,3.0,3.0,145.0,1.0,...,1,1,1,1,1,1,1,1,1,1
4,9.0,32.0,1.0,1.0,11.0,49.0,3.0,2.0,49.0,1.0,...,1,1,1,1,1,1,1,1,1,1
5,7.0,34.0,1.0,2.0,2.0,48.0,2.0,1.0,48.0,1.0,...,1,1,1,1,1,1,1,1,1,1
6,48.0,223.0,1.0,80.0,16.0,53.0,22.0,4.0,238.0,1.0,...,1,1,1,1,1,1,1,1,1,1
7,1.0,29.0,1.0,3.0,3.0,33.0,1.0,1.0,29.0,4.0,...,1,1,1,1,1,1,1,1,1,1
8,10.0,55.0,1.0,1.0,14.0,87.0,8.0,4.0,19.0,1.0,...,1,1,1,1,1,1,1,1,1,1
9,15.0,68.0,1.0,5.0,5.0,84.0,4.0,2.0,5.0,1.0,...,1,1,1,1,1,1,1,1,1,1
10,2.0,34.0,1.0,3.0,2.0,303.0,2.0,1.0,3.0,1.0,...,1,1,1,1,1,1,1,1,1,1
11,2.0,68.0,1.0,1.0,2.0,210.0,3.0,9.0,5.0,1.0,...,1,1,1,1,1,1,1,1,1,1
12,53.0,91.0,1.0,12.0,60.0,82.0,26.0,8.0,112.0,1.0,...,1,1,1,1,1,1,1,1,1,1
13,4.0,34.0,1.0,3.0,6.0,31.0,6.0,3.0,30.0,1.0,...,1,1,1,1,1,1,1,1,1,1
14,16.0,40.0,1.0,14.0,21.0,70.0,2.0,10.0,26.0,1.0,...,1,1,1,1,1,1,1,1,1,1
15,49.0,83.0,1.0,23.0,13.0,103.0,24.0,10.0,25.0,1.0,...,1,1,1,1,1,1,1,1,1,1
16,1.0,124.0,17.0,8.0,15.0,102.0,1.0,1.0,18.0,57.0,...,1,1,1,1,1,1,1,1,1,1
17,20.0,34.0,1.0,7.0,12.0,107.0,3.0,9.0,20.0,1.0,...,1,1,1,1,1,1,1,1,1,1
18,11.0,155.0,1.0,10.0,3.0,157.0,9.0,31.0,11.0,2.0,...,1,1,1,1,1,1,1,1,1,1
19,1.0,40.0,1.0,24.0,18.0,152.0,2.0,18.0,11.0,1.0,...,1,1,1,1,1,1,1,1,1,1
20,1.0,46.0,10.0,3.0,24.0,45.0,6.0,2.0,20.0,6.0,...,1,1,1,1,1,1,1,1,1,1

In [28]:
m = DfAsArray.shape[1]

In [29]:
m

61187

In [30]:
#pwjck = LapsmoothDF.div(LapsmoothDF.sum(axis=1) + m, axis=0)
pwjck = LapsmoothDF.div(LapsmoothDF.sum(axis=1), axis=0)

In [31]:
loglikelihood = np.log(pwjck)

In [32]:
loglikelihood

wordId,1,2,3,4,5,6,7,8,9,10,...,61178,61179,61180,61181,61182,61183,61184,61185,61186,61187
Category,,,,,,,,,,,,,,,,,,,,,
1,-9.615801,-8.095975,-6.634457,-9.952273,-7.836017,-8.517188,-10.308948,-11.561711,-8.699510,-7.306098,...,-12.254858,-12.254858,-12.254858,-12.254858,-12.254858,-12.254858,-12.254858,-12.254858,-12.254858,-12.254858
2,-7.941727,-7.958256,-12.052601,-9.162229,-9.344551,-7.975063,-9.654706,-10.106691,-6.899309,-10.666307,...,-12.052601,-12.052601,-12.052601,-12.052601,-12.052601,-12.052601,-12.052601,-12.052601,-12.052601,-12.052601
3,-9.446426,-7.682838,-11.931333,-9.040961,-8.840291,-8.375985,-10.832721,-10.832721,-6.954599,-11.931333,...,-11.931333,-11.931333,-11.931333,-11.931333,-11.931333,-11.931333,-11.931333,-11.931333,-11.931333,-11.931333
4,-9.787784,-8.519272,-11.985008,-11.985008,-9.587113,-8.093188,-10.886396,-11.291861,-8.093188,-11.985008,...,-11.985008,-11.985008,-11.985008,-11.985008,-11.985008,-11.985008,-11.985008,-11.985008,-11.985008,-11.985008
5,-9.954839,-8.374389,-11.900749,-11.207602,-11.207602,-8.029548,-11.207602,-11.900749,-8.029548,-11.900749,...,-11.900749,-11.900749,-11.900749,-11.900749,-11.900749,-11.900749,-11.900749,-11.900749,-11.900749,-11.900749
6,-8.402684,-6.866714,-12.273885,-7.891859,-9.501297,-8.303594,-9.182843,-10.887591,-6.801615,-12.273885,...,-12.273885,-12.273885,-12.273885,-12.273885,-12.273885,-12.273885,-12.273885,-12.273885,-12.273885,-12.273885
7,-11.714077,-8.346781,-11.714077,-10.615465,-10.615465,-8.217569,-11.714077,-11.714077,-8.346781,-10.327783,...,-11.714077,-11.714077,-11.714077,-11.714077,-11.714077,-11.714077,-11.714077,-11.714077,-11.714077,-11.714077
8,-9.771606,-8.066858,-12.074191,-12.074191,-9.435134,-7.608283,-9.994750,-10.687897,-9.129752,-12.074191,...,-12.074191,-12.074191,-12.074191,-12.074191,-12.074191,-12.074191,-12.074191,-12.074191,-12.074191,-12.074191
9,-9.298461,-7.787004,-12.006511,-10.397073,-10.397073,-7.575695,-10.620217,-11.313364,-10.397073,-12.006511,...,-12.006511,-12.006511,-12.006511,-12.006511,-12.006511,-12.006511,-12.006511,-12.006511,-12.006511,-12.006511
10,-11.345010,-8.511796,-12.038157,-10.939545,-11.345010,-6.324424,-11.345010,-12.038157,-10.939545,-12.038157,...,-12.038157,-12.038157,-12.038157,-12.038157,-12.038157,-12.038157,-12.038157,-12.038157,-12.038157,-12.038157
11,-11.525121,-7.998760,-12.218268,-12.218268,-11.525121,-6.871160,-11.119656,-10.021043,-10.608830,-12.218268,...,-12.218268,-12.218268,-12.218268,-12.218268,-12.218268,-12.218268,-12.218268,-12.218268,-12.218268,-12.218268
12,-8.504444,-7.963877,-12.474736,-9.989830,-8.380392,-8.068017,-9.216640,-10.395295,-7.756237,-12.474736,...,-12.474736,-12.474736,-12.474736,-12.474736,-12.474736,-12.474736,-12.474736,-12.474736,-12.474736,-12.474736
13,-10.623520,-8.483454,-12.009814,-10.911202,-10.218055,-8.575827,-10.218055,-10.911202,-8.608617,-12.009814,...,-12.009814,-12.009814,-12.009814,-12.009814,-12.009814,-12.009814,-12.009814,-12.009814,-12.009814,-12.009814
14,-9.512873,-8.596582,-12.285461,-9.646404,-9.240939,-8.036966,-11.592314,-9.982876,-9.027365,-12.285461,...,-12.285461,-12.285461,-12.285461,-12.285461,-12.285461,-12.285461,-12.285461,-12.285461,-12.285461,-12.285461
15,-8.386112,-7.859092,-12.277933,-9.142439,-9.712983,-7.643204,-9.099879,-9.975348,-9.059057,-12.277933,...,-12.277933,-12.277933,-12.277933,-12.277933,-12.277933,-12.277933,-12.277933,-12.277933,-12.277933,-12.277933
16,-12.477831,-7.657550,-9.644618,-10.398390,-9.769781,-7.852858,-12.477831,-12.477831,-9.587459,-8.434780,...,-12.477831,-12.477831,-12.477831,-12.477831,-12.477831,-12.477831,-12.477831,-12.477831,-12.477831,-12.477831
17,-9.380509,-8.849881,-12.376241,-10.430331,-9.891335,-7.703413,-11.277629,-10.179017,-9.380509,-12.376241,...,-12.376241,-12.376241,-12.376241,-12.376241,-12.376241,-12.376241,-12.376241,-12.376241,-12.376241,-12.376241
18,-10.265577,-7.620047,-12.663472,-10.360887,-11.564860,-7.607226,-10.466248,-9.229485,-10.265577,-11.970325,...,-12.663472,-12.663472,-12.663472,-12.663472,-12.663472,-12.663472,-12.663472,-12.663472,-12.663472,-12.663472
19,-12.419622,-8.730743,-12.419622,-9.241568,-9.529251,-7.395742,-11.726475,-9.529251,-10.021727,-12.419622,...,-12.419622,-12.419622,-12.419622,-12.419622,-12.419622,-12.419622,-12.419622,-12.419622,-12.419622,-12.419622
20,-12.102283,-8.273642,-9.799698,-11.003671,-8.924229,-8.295621,-10.310524,-11.409136,-9.106551,-10.310524,...,-12.102283,-12.102283,-12.102283,-12.102283,-12.102283,-12.102283,-12.102283,-12.102283,-12.102283,-12.102283

In [33]:
logLikliehoodarray = loglikelihood.to_numpy()

In [34]:
TestArray

wordId,1,2,3,4,5,6,7,8,9,10,...,61178,61179,61180,61181,61182,61183,61184,61185,61186,61187
documentId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7505,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
TArray.shape

(7505, 61187)

In [36]:
logLikliehoodarray = np.transpose(logLikliehoodarray)

In [37]:
logLikliehoodarray.shape

(61187, 20)

In [38]:
TrainPre = np.matmul(XTrainArray, logLikliehoodarray)
TrainProba = TrainPre + LogPrCkArray
TrainResult = pd.DataFrame(data = TrainProba,index=range(1,11270),columns= range(1,21))
YTrainRes = TrainResult.idxmax(axis=1)
YTrainRes.value_counts()

16    676
4     651
12    624
6     607
8     602
14    601
11    596
15    593
2     589
10    584
9     582
17    577
13    569
18    567
5     562
3     526
1     503
19    497
7     473
20    290
dtype: int64

In [39]:
accuracy_score(YTrainRes,Ylabel)

0.941077291685154

In [40]:
Calculate = np.matmul(TArray, logLikliehoodarray)

In [41]:
Calculate

array([[-2001.29590099, -2226.64684464, -2248.77803347, ...,
        -2144.19440519, -2113.32370537, -2075.74690974],
       [ -509.90805039,  -583.68137721,  -585.169263  , ...,
         -544.8692034 ,  -552.60708424,  -538.65190292],
       [-2307.64916812, -2550.28907514, -2564.15102131, ...,
        -2451.30250931, -2436.6186844 , -2436.7288626 ],
       ...,
       [ -807.16084342,  -863.86647283,  -868.51783272, ...,
         -865.53458554,  -849.2864095 ,  -843.30360877],
       [-1201.75403974, -1273.9634483 , -1284.23006935, ...,
        -1215.0076701 , -1211.14006974, -1190.70396488],
       [-3125.573311  , -3020.33831363, -3092.48563389, ...,
        -3158.2684067 , -3134.72896562, -3131.29347532]])

In [42]:
Calculate.shape

(7505, 20)

In [43]:
TestProba = Calculate + LogPrCkArray

In [44]:
TestProba.shape

(7505, 20)

In [45]:
Result = pd.DataFrame(data = TestProba,index=range(1,7506),columns= range(1,21))

In [46]:
Result

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
1,-2004.451926,-2229.611905,-2251.758705,-2229.051601,-2219.630843,-2231.599189,-2295.724019,-2178.055710,-2189.034984,-2203.050032,-2219.420786,-2147.961892,-2221.124573,-2151.477134,-2207.012512,-2044.042812,-2141.582754,-2147.189162,-2116.513632,-2079.147131
2,-513.064075,-586.646437,-588.149935,-577.760845,-584.417821,-592.052519,-604.637385,-565.716271,-567.980933,-557.642882,-566.556689,-571.995561,-584.551243,-570.091982,-572.448652,-531.449620,-549.819487,-547.863960,-555.797011,-542.052125
3,-2310.805193,-2553.254135,-2567.131693,-2552.508684,-2569.034455,-2545.511772,-2657.547059,-2508.180886,-2533.201974,-2545.068489,-2582.976824,-2497.408119,-2553.781771,-2499.365892,-2535.486325,-2435.192692,-2456.193532,-2454.297266,-2439.808611,-2440.129084
4,-5700.322107,-6247.355763,-6320.237872,-6230.866751,-6216.975497,-6242.170168,-6459.022547,-6146.870950,-6196.095900,-6194.664520,-6184.155429,-6030.907073,-6227.485720,-6050.521609,-6111.512914,-5665.946935,-5936.535617,-5928.024449,-5926.487361,-5808.853684
5,-2057.330080,-2260.417927,-2282.662864,-2251.745293,-2249.408145,-2283.969183,-2296.783561,-2185.506777,-2185.486473,-2213.551531,-2199.793475,-2152.184368,-2239.072521,-2189.869747,-2195.772161,-2141.013780,-2087.618571,-2068.959591,-2100.461237,-2121.117689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7501,-2943.352485,-3057.653382,-3065.089008,-3049.277169,-3057.238306,-3056.625681,-3153.877976,-2960.449169,-2987.132499,-2994.661541,-3034.038053,-2975.581918,-3003.922918,-2966.572077,-2982.826493,-2941.377627,-2792.205320,-2901.421518,-2915.757351,-2857.620656
7502,-902.552235,-984.477963,-973.883309,-966.689012,-970.072102,-982.728175,-1007.878769,-951.124842,-961.589113,-970.000793,-977.297522,-946.808251,-966.536357,-937.795702,-960.340945,-914.827047,-935.369329,-939.964822,-904.520742,-913.232955
7503,-810.316868,-866.831533,-871.498505,-870.089766,-867.969111,-868.114376,-888.674788,-857.519810,-855.688611,-861.275252,-868.509517,-869.577075,-864.859489,-865.377022,-865.672423,-855.638424,-853.202802,-868.529342,-852.476336,-846.703830
7504,-1204.910065,-1276.928508,-1287.210741,-1264.067841,-1267.586955,-1283.082007,-1336.639043,-1255.147772,-1255.427883,-1251.800012,-1260.727490,-1242.182394,-1259.787920,-1236.886525,-1231.297305,-1184.036921,-1205.323338,-1218.002427,-1214.329996,-1194.104187
7505,-3128.729336,-3023.303374,-3095.466306,-3123.574723,-3101.884470,-3028.246824,-3173.081043,-3174.723091,-3176.395543,-3215.610948,-3223.164540,-3035.692431,-3123.910703,-3108.231390,-3075.538539,-3131.745722,-3110.030311,-3161.263163,-3137.918892,-3134.693697

In [47]:
YRes = Result.idxmax(axis=1)

In [48]:
YRes.value_counts()

16    558
4     506
12    489
17    474
8     453
2     441
11    405
15    381
6     378
9     376
18    370
14    367
10    360
5     347
1     336
13    333
19    324
3     252
7     248
20    107
dtype: int64

In [49]:
YTest = pd.read_csv('test.label', names = ['Category'])

In [50]:
YTest.value_counts()

Category
11          399
16          398
10          397
9           397
8           395
12          395
13          393
14          393
4           392
15          392
3           391
6           390
2           389
5           383
7           382
18          376
17          364
1           318
19          310
20          251
dtype: int64

In [51]:
YRes

1        1
2        1
3        1
4       16
5        1
        ..
7501    17
7502     1
7503     1
7504    16
7505     2
Length: 7505, dtype: int64

In [52]:
YTest

      Category
0            1
1            1
2            1
3            1
4            1
...        ...
7500        20
7501        20
7502        20
7503        20
7504        20

[7505 rows x 1 columns]

In [53]:
accuracy_score(YRes, YTest)

0.7810792804796802